.my-banner{
    width: 100%;
    font-size: 200%;
    text-align: center;
    color: white;
    background-color: navy;
}

li{
    padding-right:10px;
}

form-inline{
    text-align: right;
    float: right;
}